<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/resource/core.js"></script>
</head>
<body>
    <div>
        Here is the date and time: {{someData}}
    </div>
</body>
</html>